<div class="main-container">
  <div class="container">
      <h1>Search Trip</h1>
      <form action="#">
          <label for="place">Place Name</label>
          <input type="text" id="place" name="place" [(ngModel)]="place" placeholder="Enter place name">

          <label for="trip-type">Trip Type</label>
          <select id="trip-type" [(ngModel)]="tripType" name="trip-type">
              <option value="adventure">Adventure</option>
              <option value="romantic">Romantic</option>
              <option value="family">Family</option>
              <option value="solo">Solo</option>
          </select>

          <label for="budget-type">Budget Type</label>
          <select id="budget-type" [(ngModel)]="budgetType" name="budget-type">
              <option value="low">Low</option>
              <option value="medium">Medium</option>
              <option value="high">High</option>
          </select>

          <label for="interests">Interests</label>
          <select id="interests" name="interests" [(ngModel)]="interest">
              <option value="nature">Nature</option>
              <option value="culture">Culture</option>
              <option value="adventure">Adventure</option>
              <option value="relaxation">Relaxation</option>
              <option value="food">Food</option>
          </select>

          <button type="submit" (click)="callGemini()">Search</button>
      </form>
  </div>
  <div class="text-container">
      <h2>Welcome to G Travel</h2>
      <p style="margin-bottom: 2rem;white-space:pre-wrap;" [innerHTML]="output"></p>
      <div *ngIf="loader" class="loader">
        <div class="inner"></div>
      </div>
  </div>
</div>